/* body {
  height: 2000px;
} */

/* ========== Header ========== */

.site-header {
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 46px rgb(23 135 23 / 22%);
  z-index: 100;
}

.site-header .container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 2rem;
  gap: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  height: 100%;
}

.nav__item a {
  font-weight: 300;
  color: #000;
  text-decoration: none;
}

/* ========== Hero ========== */


.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  background-color: #21AA58;
  width: 100%;
}

.hero__content {
  color: #fff;
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  max-width: calc(66rem + 4rem);
  padding: 2rem 4rem;
}

.hero__title {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 4.2rem;
  text-align: start;
  text-wrap: balance;
  margin-bottom: 1.2rem;
}

.hero__description {
  font-size: 1.3rem;
  line-height: 2.2rem;
  text-align: start;
  margin-bottom: .4rem;
}

.hero__form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.hero__input-box {
  display: flex;
  align-items: center;
  flex-basis: 60%;
  padding: 0 .4rem;
  border-bottom-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: fit-content;
}

.hero__input-box input::placeholder {
  color: #fff;
  font-size: .85rem;
}

.hero__input-box input:focus {
  border-width: 0;
  outline: none;
  box-shadow: none;
}

.hero__form > button {
  background-color: #fff;
  color: #21AA58;
  padding: 1rem;
  border-radius: 7px;
  font-size: .9rem;
}

.hero__app-btn {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 7px;
  font-size: 1rem;
  border: 1px solid #fff;
  width: 100%;
  font-weight: bold;
}

.hero__content,
.hero__media {
  flex: 1 1 50%;
}

.hero__media span {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(./Images/intro_desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}

/* ========== Download ========== */

.downloads{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 3rem;
}

.downloads__item > img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 11px;
}

/* ========== Tools ========== */

.tools{
    padding-inline: 10%;
}

.tools__header{
    text-align: center;
    color: #252a3c;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    margin-block: 1rem;
}

.tools__list{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    align-items: start;
    margin-top: 3rem;
}

.tools__item{
    grid-column : span 4;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding: .3rem;
    gap: .7rem;
}
.tools__item:nth-last-child(2){
    grid-column: 3 / span 4;
}
.tools__item:last-child{
    grid-column: 7 / span 4;
}

.tools__logo{
    position: relative;
}

.tools__logo img{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1
}

.tools__content{
    text-align: center;
}

.tools__title h3{
    font-weight: 600;
    color: #252a3c;
    padding-block: .5rem;
}

.tools__description{
    display: none;
}

.tools__description p{
    color: rgb(128, 128, 128);
    line-height : 2rem;
}

.tools__item--fdomt .tools__logo > svg {
    position: absolute;
    top: -3px;
    right: 20px;
    width: 50px;
    height: calc(50px / 2.3);
    box-shadow: 0px 0px 4px 1px white;
    border-radius: 28px;
    transform: rotate(-9deg);
}



/* ================================
   ≥ 480px — small phones / large phones
=================================== */
@media (min-width: 480px) {

}

/* ================================
   ≥ 768px — tablets
=================================== */
@media (min-width: 768px) {
    .tools__description{
        display: block;
    }
}

/* ================================
   ≥ 1024px — small laptops/desktops
=================================== */
@media (min-width: 1024px) {
    .site-header .container {
        padding: 2rem 5%;
    }
    .tools__item{
        flex-direction: row;
        justify-content: start;
    }
    .tools__content{
        text-align: start;
    }
    .tools__list{
        align-items: center;
    }
}


/* ================================
   ≥ 1280px — wide desktops
=================================== */
@media (min-width: 1441px) {
    .site-header .container {
        padding: 2rem 11%;
    }
    .tools__list{
        grid-template-columns: repeat(auto-fit , minmax(min(21rem , (100% - (2 * 1.5rem)) / 3) , 1fr));
    }
    .tools__item{
        grid-column : span 1;
    }
    .tools__item:nth-last-child(1){
        grid-column : span 1;
    }
    .tools__item:nth-last-child(2){
        grid-column : span 1;
    }
}

