.Heading-number1{
    min-height: 10px;
    background-color: #c5e800;
    background-image:
        radial-gradient(ellipse at 70% 60%, rgba(0, 0, 0, 0.1), transparent 70%),
        radial-gradient(ellipse at 40% 100%, rgba(0, 0, 0, 0.1), transparent 80%),
        linear-gradient(#c5e800, #c5e800);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: multiply;

    padding: 15px 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid black;

}

h2 , h3 , h4 , h5 , h6 {
    padding: 2px;
    margin: 3px 0;
}

body {
    font-family: YekanBakhFaNum;
    font-weight: 400;
    text-align: center;
    font-feature-settings: "ss01" on, "ss06" on;

}
